NEXT_PUBLIC_CARE_ATLAS_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_CARE_ATLAS_WEB_SOURCE=careatlas.co.uk
NEXT_PUBLIC_CARE_ATLAS_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_CARE_ATLAS_WHATSAPP_NUMBER=
NEXT_PUBLIC_CARE_ATLAS_WHATSAPP_MESSAGE=Hello Care Atlas, I would like to make an enquiry.
