NEXT_PUBLIC_CARE_ATLAS_API_BASE_URL=https://api.orbitmirai.com
NEXT_PUBLIC_CARE_ATLAS_WEB_SOURCE=careatlas.co.uk
NEXT_PUBLIC_CARE_ATLAS_RECAPTCHA_SITE_KEY=6LckAWgtAAAAAEK9ROoRYBj6BHDpOf66P5HByE8u
NEXT_PUBLIC_CARE_ATLAS_WHATSAPP_NUMBER=
NEXT_PUBLIC_CARE_ATLAS_WHATSAPP_MESSAGE=Hello Care Atlas, I would like to make an enquiry.
